Package: turbojpeg
Version: {__VERSION}-{__BUILD}
Section: misc
Priority: optional
Architecture: {__ARCH}
Essential: no
Maintainer: The VirtualGL Project [http://www.VirtualGL.org]
Description: A fast JPEG codec used by VirtualGL and TurboVNC
 TurboJPEG provides a minimalistic interface for compressing true color
 bitmaps into JPEG images in memory.  It abstracts a variety of vendor-specific
 JPEG codecs into a common API that is used by VirtualGL and TurboVNC as the
 default method of image compression.
 .
 The Linux version of TurboJPEG is built using the Intel(R) Integrated
 Performance Primitives, a set of highly-optimized multimedia libraries for
 x86 processors.  The use of Intel(R) IPP allows TurboJPEG to compress
 1-megapixel images at 20-30 frames/sec or greater.  Unfortunately, this
 performance comes at the expense of introducing a closed source dependency.
 For those who may be concerned about this, a fully open source (but slower)
 version of the library is also included in this package.
 .
 See the README.txt file included in this package for more information.
